.categoryHeading {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-bottom: 1.5rem;
}
span.categorySpan {
  color: #ddaa00;
}
.categoryImg {
  height: 15rem; 
  width: 100%; 
  transition: filter 0.5s ease-in-out;
}
.gridItem:hover {
  color: #ddaa00;
  cursor: pointer;
}
.categoryImg:hover {
  filter: brightness(70%);
}
