@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.navbar * {
  text-decoration: none;
}

.navbar *:hover {
  color: darkslateblue ;
}

.active {
  color: sienna;
}

a:visited {
  color: #000000;
}

a:link {
  color: #000000;
  text-decoration: none;
}

.errorpage {
  background-color: #FFD230;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imglogo {
  margin-left: 45%;
}

.imgrecipes {
  width: 150px;
  height: 150px;
  border: 1px solid #FFD230;
  border-radius: 5px;
}

.allrecipes-grid-container {
  border: 2px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  max-width: 1200px;
  gap: 10px;
  place-content: center;
}

.allrecipes-grid-item {
  padding: 20px;
  border: 2px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 2rem;
  position: relative;
  font-size: 12px;
}

.h1-allrecipes {
  text-align: center;
}